# Exercise 03 - Columnar Vs Row Storage

- The columnar storage extension used here: 
    - cstore_fdw by citus_data [https://github.com/citusdata/cstore_fdw](https://github.com/citusdata/cstore_fdw)
- The data tables are the ones used by citus_data to show the storage extension

In [1]:
%load_ext sql

## STEP 0 : Connect to the local database where Pagila is loaded

### Create the database

In [2]:
!sudo -u postgres psql -c 'CREATE DATABASE reviews;'

!wget http://examples.citusdata.com/customer_reviews_1998.csv.gz
!wget http://examples.citusdata.com/customer_reviews_1999.csv.gz

!gzip -d customer_reviews_1998.csv.gz 
!gzip -d customer_reviews_1999.csv.gz 

!mv customer_reviews_1998.csv /tmp/customer_reviews_1998.csv
!mv customer_reviews_1999.csv /tmp/customer_reviews_1999.csv

CREATE DATABASE
--2019-06-23 19:52:08--  http://examples.citusdata.com/customer_reviews_1998.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 104.25.46.11, 104.25.47.11, 2606:4700:20::6819:2e0b, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|104.25.46.11|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://examples.citusdata.com/customer_reviews_1998.csv.gz [following]
--2019-06-23 19:52:08--  https://examples.citusdata.com/customer_reviews_1998.csv.gz
Connecting to examples.citusdata.com (examples.citusdata.com)|104.25.46.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24774482 (24M) [application/x-gzip]
Saving to: ‘customer_reviews_1998.csv.gz’

customer_reviews_19 100%[===================>]  23.63M  44.4MB/s    in 0.5s

2019-06-23 19:52:09 (44.4 MB/s) - ‘customer_reviews_1998.csv.gz’ saved [24774482/24774482]

URL transformed to HTTPS due to an HSTS policy
--2019-06-23 19:52:09--  https://examples.citusdata.com/customer_reviews_1999.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 104.25.46.11, 104.25.47.11, 2606:4700:20::6819:2e0b, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|104.25.46.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 48996256 (47M) [application/x-gzip]
Saving to: ‘customer_reviews_1999.csv.gz’

customer_reviews_19 100%[===================>]  46.73M  56.4MB/s    in 0.8s

2019-06-23 19:52:10 (56.4 MB/s) - ‘customer_reviews_1999.csv.gz’ saved [48996256/48996256]

### Connect to the database

In [3]:
DB_ENDPOINT = "127.0.0.1"
DB          = 'reviews'
DB_USER     = 'student'
DB_PASSWORD = 'student'
DB_PORT     = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://student:student@127.0.0.1:5432/reviews

In [4]:
%sql $conn_string

'Connected: student@reviews'

## STEP 1 :  Create a table with a normal  (Row) storage & load data

**TODO:** Create a table called customer_reviews_row with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [5]:
%%sql
DROP TABLE IF EXISTS customer_reviews_row;
CREATE TABLE customer_reviews_row
(
    customer_id TEXT,
    review_date DATE,
    review_rating INTEGER,
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    product_sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10)[]
)

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [6]:
%%sql 
COPY customer_reviews_row FROM '/tmp/customer_reviews_1998.csv' WITH CSV;
COPY customer_reviews_row FROM '/tmp/customer_reviews_1999.csv' WITH CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
589859 rows affected.
1172645 rows affected.

[]

## STEP 2 :  Create a table with columnar storage & load data

First, load the extension to use columnar storage in Postgres.

In [7]:
%%sql

-- load extension first time after install
CREATE EXTENSION cstore_fdw;

-- create server object
CREATE SERVER cstore_server FOREIGN DATA WRAPPER cstore_fdw;

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Create a `FOREIGN TABLE` called `customer_reviews_col` with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [8]:
%%sql
-- create foreign table
DROP FOREIGN TABLE IF EXISTS customer_reviews_col;

CREATE FOREIGN TABLE customer_reviews_col
(
    customer_id TEXT,
    review_date DATE,
    review_rating INTEGER,
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    product_sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10)[]
)

SERVER cstore_server
OPTIONS(compression 'pglz');

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [9]:
%%sql 
COPY customer_reviews_col FROM '/tmp/customer_reviews_1998.csv' WITH CSV;
COPY customer_reviews_col FROM '/tmp/customer_reviews_1999.csv' WITH CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
589859 rows affected.
1172645 rows affected.

[]

## Step 3: Compare performance

Now run the same query on the two tables and compare the run time. Which form of storage is more performant?

**TODO**: Write a query that calculates the average `review_rating` by `product_title` for all reviews in 1995. Sort the data by `review_rating` in descending order. Limit the results to 20.

First run the query on `customer_reviews_row`:

In [15]:
%%time
%%sql
SELECT 
    product_title, AVG(review_rating) AS avg_rating
FROM 
    customer_reviews_row
WHERE 
    review_date >= '1995-01-01' AND review_date <= '1995-12-31'
GROUP BY 
    (review_date, product_title)
ORDER BY 
    avg_rating DESC
LIMIT 
    20;

 * postgresql://student:***@127.0.0.1:5432/reviews
20 rows affected.
CPU times: user 5.35 ms, sys: 338 µs, total: 5.68 ms
Wall time: 391 ms

[('Undercurrents', Decimal('5.0000000000000000')),
 ('The C++ Programming Language (Special 3rd Edition)', Decimal('5.0000000000000000')),
 ('Love Can Build a Bridge', Decimal('5.0000000000000000')),
 ('Return of the Prodigal Son', Decimal('5.0000000000000000')),
 ("Ken's Guide to the Bible", Decimal('5.0000000000000000')),
 ('Illusions', Decimal('5.0000000000000000')),
 ('Global Tyranny...Step by Step', Decimal('5.0000000000000000')),
 ('Great River', Decimal('5.0000000000000000')),
 ("Liar's Poker", Decimal('5.0000000000000000')),
 ('The Emerald City of Oz', Decimal('5.0000000000000000')),
 ('Time and the Art of Living', Decimal('5.0000000000000000')),
 ('Souper Skinny Soups', Decimal('5.0000000000000000')),
 ('The Official Harvard Student Agencies Bartending Course, 3rd Edition', Decimal('5.0000000000000000')),
 ('God Emperor of Dune (Dune Chronicles, Book 4)', Decimal('5.0000000000000000')),
 ('Mistress of the Empire', Decimal('5.0000000000000000')),
 ('The Lions of Al-Rassan', Decimal('5.0000000000000000')),
 ('The World According to Garp (Modern Library)', Decimal('5.0000000000000000')),
 ('The Complete Book of Golf Games', Decimal('5.0000000000000000')),
 ('The Name of the Rose', Decimal('5.0000000000000000')),
 ('The Shipping News', Decimal('5.0000000000000000'))]

 Then on `customer_reviews_col`:

In [16]:
%%time
%%sql

SELECT 
    product_title, AVG(review_rating) AS avg_rating
FROM 
    customer_reviews_col
WHERE 
    review_date >= '1995-01-01' AND review_date <= '1995-12-31'
GROUP BY 
    (review_date, product_title)
ORDER BY 
    avg_rating DESC
LIMIT 
    20;

 * postgresql://student:***@127.0.0.1:5432/reviews
20 rows affected.
CPU times: user 4.79 ms, sys: 0 ns, total: 4.79 ms
Wall time: 14.4 ms

[('Undercurrents', Decimal('5.0000000000000000')),
 ('The C++ Programming Language (Special 3rd Edition)', Decimal('5.0000000000000000')),
 ('Love Can Build a Bridge', Decimal('5.0000000000000000')),
 ('Return of the Prodigal Son', Decimal('5.0000000000000000')),
 ("Ken's Guide to the Bible", Decimal('5.0000000000000000')),
 ('Illusions', Decimal('5.0000000000000000')),
 ('Global Tyranny...Step by Step', Decimal('5.0000000000000000')),
 ('Great River', Decimal('5.0000000000000000')),
 ("Liar's Poker", Decimal('5.0000000000000000')),
 ('The Emerald City of Oz', Decimal('5.0000000000000000')),
 ('Time and the Art of Living', Decimal('5.0000000000000000')),
 ('Souper Skinny Soups', Decimal('5.0000000000000000')),
 ('The Official Harvard Student Agencies Bartending Course, 3rd Edition', Decimal('5.0000000000000000')),
 ('God Emperor of Dune (Dune Chronicles, Book 4)', Decimal('5.0000000000000000')),
 ('Mistress of the Empire', Decimal('5.0000000000000000')),
 ('The Lions of Al-Rassan', Decimal('5.0000000000000000')),
 ('The World According to Garp (Modern Library)', Decimal('5.0000000000000000')),
 ('The Complete Book of Golf Games', Decimal('5.0000000000000000')),
 ('The Name of the Rose', Decimal('5.0000000000000000')),
 ('The Shipping News', Decimal('5.0000000000000000'))]

## Conclusion: We can see that the columnar storage is faster!